#change{
    display: flex;
    flex-direction: column;
    width: 50vw;
    margin: 0 auto;
}

#title{
    text-align: center;
    margin-bottom: 5vh;
    background: radial-gradient(ellipse at top, #fff 40%, transparent 70%);
    border-radius: 1vw;
    padding: 0.5vh 1vh 5vh;
}

#title span{
    font-size: 3vw;
    color: #000;
}

.button{
    padding: 1vw;
    margin: 1vw;
    font-size: 1.5vw;
    border-radius: 1vw;
    border-width: 0.3vw;
}

html {
    height: 100%;
    font-size: 0.3vh;  
    margin: 0;
}	

body {						
    background-image:	linear-gradient(135deg, #fffd7b 12.5%, transparent 12.5%,transparent 87.5%, #fffd7b 87.5%),
                        linear-gradient(45deg, transparent 50%,#ff3c3c 50%, #ff3c3c 75%,transparent 75%),
                        linear-gradient(135deg, transparent 37.5%,  #fffd7b 37.5%, #fffd7b 62.5%, transparent 57.5%),
                        linear-gradient(45deg, #ff3c3c 25%, transparent 25%);
    background-size: 16rem 16rem;
    background-color: #5435ff;
    margin: 0;
}

#help span{
    font-size: 1.5vw;
}

#help :first-child{
    margin: 0 auto;
}

#help :last-child{
    margin: 1vh auto;
    width: 30%;
    border-radius: 1vw;
    padding: 0.7vh;
    font-size: 1.1vw;
}

#help{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50vw;
    left: 25vw;
    top: 30vh;
    background: #fff;
    border: 0.8vw solid #888;
    border-radius: 1vw;
    box-sizing: border-box;
    padding: 2vh 2vh 1vh 2vh;
    z-index: 100;
}

#dark{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #303030c0;
    z-index: 99;
    display: none;
}

#game{
    display: flex;
    flex-direction: column;
    
}

#game_box{
    text-align: center;
    display: none;
}

#log{
    background: radial-gradient(ellipse, #fff 40%, transparent 60%);
    font-size: 2vw;
    width: 40%;
    padding: 6vh;
    margin: 0 auto;
    border-radius: 1vw;
    display: none;
}